<center>
    <div class='popup'>
        <div class='pp_ms_inner'>
            <div style='width:95%'>
                <h2 align="left">
                    @lib_lenguajes.RsMenu.lbMensaje
                </h2>

                <h4 align="left">
                    @ViewData["Mensaje"]
                </h4>

                <input type="submit"
                    value="@lib_lenguajes.RsMenu.lbCerrar"
                    asp-page-handler="BtCerrar"
                    class="btn btn-secondary"/>
            </div>
        </div>
    </div>
</center>